NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2026-01-01
SANITY_PROJECT_ID=
SANITY_DATASET=production
SANITY_API_VERSION=2026-01-01
SANITY_API_READ_TOKEN=
SANITY_API_WRITE_TOKEN=
SANITY_PREVIEW_SECRET=
RESEND_API_KEY=
CONTACT_TO_EMAIL=
WHATSAPP_NUMBER=
